@use "variables.module" as vars;
@use "mixins" as *;
@use "./normalize.scss";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body,
html {
  margin: 0;
  height: 100%;
  background: vars.$background-color;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 100%;
}