@use "../../styles/variables.module" as vars;

.sliders-block > div {
  z-index: 10;
}

.slider-wrapper {
  position: relative;
  @media (max-width: vars.$breakpoint-tablet) {
    order: -1;
  }
}

.swiper {
  position: relative;
  width: auto;
  cursor: pointer;
  min-height: 133px;
  @media (max-width: vars.$breakpoint-tablet) {
    min-height: auto;
  }
}

.swiper-slide {
  font-size: 18px;
  background: transparent;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.swiper-pagination {
  display: none;
  @media (max-width: vars.$breakpoint-tablet) {
    display: block;
  }
}

.slide__year {
  font-family: vars.$additional-font;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: vars.$year-color;

  @media (max-width: vars.$breakpoint-tablet) {
    font-size: 16px;
    line-height: 19.2px;
  }
}

.slide__text {
  max-width: 400px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 13px;

  @media (max-width: vars.$breakpoint-tablet) {
    font-size: 14px;
    line-height: 20.3px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 0px #3877ee1a;
  background: #fff;
  right: -40px;
  top: 46%;

  @media (max-width: vars.$breakpoint-tablet) {
    display: none;
  }
}

.swiper-button-prev {
  left: -60px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 10px;
  color: vars.$year-color;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -114px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 5px);
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: vars.$primary-color;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background: vars.$primary-color;
  opacity: 1;
}

@media (max-width: vars.$breakpoint-tablet) {
  .swiper-slide {
    opacity: 0.4;
  }

  .swiper-slide-active {
    opacity: 1;
    transition: 0.5s all ease;
  }

  .slider__border-top {
    position: absolute;
    width: calc(100% - 20px);
    top: -20px;
    left: 0;
    height: 1px;
    box-sizing: border-box;
    background: vars.$border-color-mobile;
  }
}
